body {
    background-color: lightgray;
}

.dashboard {
    display: flex;
    justify-content: center;
    
}

.board {
    border: 1px solid red;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}